<div class="container">
    <br>
    <h4><mark>Автоьобиль:</mark>{{name}}<small>{{model}}</small></h4>
    <div class="alert alert-success">
        Характеристика Автомобиля:
        <ul>
            <li>Скорость: <strong>{{speed}}</strong>км</li>
            <li>Цвет Автомобиля: <strong>{{colors.car}}</strong></li>
            <li>Цвет Салона: <strong>{{colors.salon}}</strong></li>
            <li>Цвет Колес: <strong>{{colors.wheels}}</strong></li>
        </ul>

    </div>
    <h5>Возможности Автомобиля</h5>
    <div class="alert alert-warning">
        {{options}}
    </div>
</div>